@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=DynaPuff:wght@400..700&family=Matemasie&display=swap');

.home-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: radial-gradient(circle at 90% center, #e0ccbf, #e6dad2); */
    /* background: #34013d; */
    background: #222222;
    /* background: #f9fbbf; */
    /* background: #e3d2d2; */
    /* background: #e0ccbf; */
}

.titleFont {
    font-weight: bold;
    /* font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal; */
    /* font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; */
}

.contact {
    width: 48vw;
    height: 48vw;
    position: fixed;
    left: -100px;
    top: -100px;
    /* background: #46555e; */
    background: #f0ebeb;
    /* background: #083450; */
    /* background: #efd2b7; */
    /* background: #0a3d18; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    z-index: 1;
    /* border-radius: 0px 1000px 50% 0px; */
    /* border-radius: 50% 1000px 50% 50%; */
    border-radius: 40% 50% 40% 50%;
    transition: .8s;
    overflow: hidden;
    box-shadow: 5px 5px 50px #0000002b;
    /* box-shadow: -70px -70px 70px #34424b inset; */
    /* box-shadow: -70px -70px 70px #ffffff57 inset; */
}

.contactInfos {
    /* color: #fff; */
    position: absolute;
    width: 42vw;
    height: 42vw;
    color: #000;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 1;
    flex-direction: column;
    transition: .8s;
}

.contactTitle {
    width: 80%;
    font-size: 40px;
}

.contactTitle span span strong {
    color: #222;
}

.contactDesc {
    width: 80%;
    /* margin-right: 50px; */
    font-size: 20px;
    /* color: #fff; */
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contactButton {
    /* font-family: inherit; */
    /* display: inline-block; */
    width: 200px;
    height: 50px;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    /* border: 2px solid var(--color); */
    border: none;
    box-shadow: 2px 2px 4px #0000003c, -6px -6px 6px #ffffff3c;
    border-radius: 30px;
    position: relative;
    background: #e9e4e4;
    transition: .3s;
}

.contactButton::before {
    position: absolute;
    content: "";
    background: #dbdbdb;
    width: 300px;
    height: 250px;
    z-index: -1;
    border-radius: 50%;
}

.contactButton:hover {
    color: #222;
    box-shadow: 5px 5px 5px #0000003c;
    /* font-size: 19px; */
}

.contactButton:before {
    top: 80%;
    right: 80%;
    transition: 0.3s all;
}

.contactButton:hover::before {
    top: -30px;
    right: -50px;
}

.buttonsContact {
    width: 300px;
}

.buttonsContact img,
.buttonsContact svg {
    margin-right: 20px;
    transition: .4s;
}

.buttonsContact *:hover {
    transform: scale(1.2);
}

.buttonsContact img {
    width: 25px;
    /* filter: grayscale(1) ; */
    cursor: pointer;
}

.navigation-hub {
    background: #222;
    /* backdrop-filter: blur(10px); */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 10px;
    height: 40px;
    border-radius: 13px;
    padding: 0px 3px;
    /* width: 250px; */
    gap: 10px;
    z-index: 11;
    /* overflow: hidden; */
}

.navigation-hub svg {
    font-size: 18px;
}

.navigation-hub>*>* {
    color: #fff;
}

.iconActivated {
    /* padding: 3px 10px !important; */
    border-radius: 10px !important;
    background: #5c5c4a !important;
    transform: scale(1.1);
}

.info-area {
    overflow: hidden;
    width: 60vw;
    height: 100vh;
    display: flex;
    scroll-behavior: smooth;
    z-index: 10;
}


.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #fff;
}

.scroll-container {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}

.projects {
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projectSwipers {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.defaultHub {
    width: 50%;
    /* margin: 0px 90px; */
    margin: 0px 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.defaultPic {
    border: 3px solid #fff;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /* transform: scale(2); */
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
}

.defaultPic img {
    height: 100%;
    width: 100%;
    /* transform: scale(1.8) translateY(15px); */
    transform: scale(2.5) translateY(33px) translateX(7px);
    object-fit: cover;
    transition: .4s;
}

.defaultPic img:hover {
    transform: scale(2) translateY(33px) translateX(7px);
}

.defaultInitialIntrodution {
    /* text-shadow:
        2px 2px 0px rgba(0, 0, 0, 0.1),
        -2px 2px 0px rgba(0, 0, 0, 0.1),
        2px -2px 0px rgba(0, 0, 0, 0.1),
        -2px -2px 0px rgba(0, 0, 0, 0.1),
        2px 0px 0px rgba(0, 0, 0, 0.1),
        -2px 0px 0px rgba(0, 0, 0, 0.1),
        0px 2px 0px rgba(0, 0, 0, 0.1),
        0px -2px 0px rgba(0, 0, 0, 0.1); */
    z-index: 5;
    font-size: 50px !important;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 45px;
    animation: pulse-flip 5s;
    /* font-family: "Bangers", system-ui; */
    /* font-family: "Carter One", system-ui; */
    /* font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal; */
    /* font-family: "DynaPuff", system-ui; */
    /* font-optical-sizing: auto; */
    font-weight: 700;
    /* font-style: normal;
    font-variation-settings:
        "wdth" 100; */
}

.defaultIntrodution {
    /* font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal; */
    font-size: 30px !important;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 45px;
    animation: pulse-flip 5s;
    /* transform-style: preserve-3d;  */
    /* backface-visibility: hidden;  */
    /* padding-left: 70px; */
}

@keyframes pulse-flip {

    0%,
    100% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1);
    }


}

.introdutionText {
    backdrop-filter: blur(20px);
    background: #2222224c;
    width: 50%;
    /* border: 3px solid #2A629A; */
    border-bottom: 3px solid #FDFFC2;
    overflow: hidden;
    border-radius: 10px;
    padding: 40px;
    color: #fff;
    font-size: 20px;
    margin: 0px 50px;
}

.introdutionText div {
    /* border-left: 3px solid #FDFFC2; */
    margin: 20px 0px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.cards-section {
    padding-left: 30px;
    color: #000;
    position: relative;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
}

.infoCardsSetup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.info-card {
    /* width: 100%; */
    width: 25vw;
    height: 90px;
    cursor: pointer;
    background: #f4eded;
    /* padding-right: 20px; */
    gap: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #0000002b;
    /* transition: .4s cubic-bezier(0.19, 1, 0.22, 1); */
    transition: .2s ease;
}

.info-card:hover {
    background: #ddd;
}

.info-card.hideImg {
    width: 35vw;
}

.info-card.activated svg {
    display: none;
}

.info-card.activated div svg {
    display: flex;
}

.info-card.activated .info-setup {
    width: 70%;
}

.info-card.activated {
    width: 40vw;
    padding: 30px 0px;
    height: auto;
    transform: scale(1.07);
    /* height: 70px; */
    z-index: 5;
    background: #fff;
}

.info-card.activated .card-content {
    font-size: 17px;
}

.info-card.activated .card-title {
    font-size: 18px;
}

.info-card.activated .info-setup .card-title,
.info-card.activated .icon-border,
.info-card.activated svg {
    font-weight: bold;
    color: #000;
}

.info-card.activated .icon-border {
    margin-right: 15px;
}

.info-card:active {
    background: #c3b8b8;
}

.icon-border {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #656565;
    background: #d9d9d6;
}

.infosHub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-setup {
    width: 70%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 16px;
}

.card-content {
    color: #656565;
    font-size: 15px;
}

.iconIframe {
    opacity: 0;
    filter: grayscale(0.5);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 200px;
    transition: .4s;
    right: -130px;
}

.swiper {
    /* transform: rotate(5deg); */
    max-width: 90%;
    /* height: 100%; */
}

.swiper-slide {
    width: 150px;
    height: 150px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Increase zoom to 40% on hover */
}

.swiper-wrapper {
    margin-left: -2px;
    gap: 1px;
}

.swiper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* border: 2px solid #222; */
    border-radius: 10px;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #fff !important;
    border: 2px solid #000;
}

@media (max-width: 768px) {
    .home-page {
        background: #222222;
        flex-direction: column;
        width: 100vw;
    }

    .navigation-hub {
        background: #181818;
        right: 50%;
        top: auto;
        bottom: 10px;
        height: 40px;
        gap: 10px;
        border-radius: 14px;
        transform: translateX(50%);
    }

    .navigation-hub svg {
        font-size: 18px;
    }

    /* .iconActivated {
        background: #094c5a !important;
    } */

    .contact {
        /* border-radius: 30% 40% 60% 40%; */
        border-radius: 0px 0px 100px 100px;
        margin-bottom: 20px;
        width: 90vw;
        height: 40vh;
        position: relative;
        left: auto;
        top: auto;
    }

    .contactInfos {
        margin-left: 0px;
        position: relative;
        width: 100%;
        height: 100%;
        gap: 30px;
    }

    .contactTitle {
        width: 80%;
        max-height: 20px;
        font-size: 20px;
    }

    .contactDesc {
        font-size: 14px;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .contactButton {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .buttonsContact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .buttonsContact img {
        margin-right: 0px;
        width: 18px;
    }

    .info-area {
        width: 100vw;
    }

    .cards-section {
        padding: 0px;
        justify-content: unset;
        flex-direction: column;
        /* transform: translateY(-10%); */
        gap: 40px;
    }

    .infoCardsSetup {
        /* margin-top: -100px; */
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .info-card {
        height: 50px;
        width: 45vw;
        padding: 10px 0px;
        gap: 0px;
        transition: .2s ease step-start;
    }

    .info-card.hideImg {
        width: 45vw;
    }

    .info-card.activated {
        z-index: 5;
        box-shadow: none;
        width: 92vw;
        color: #fff;
        height: auto;
    }

    .info-card.activated .card-content {
        display: flex;
        font-size: 14px;
    }

    .info-card.activated .icon-border {
        margin-right: 15px;
        margin-left: -25px;
    }

    .info-card.activated .card-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .icon-border {
        width: 30px;
        height: 30px;
        /* margin-left: -10px; */
        margin-right: 10px;
    }

    .icon-border svg {
        font-size: 20px;
    }

    .infosHub {
        flex-direction: column;
        gap: 20px;
        transform: translateY(-4%);
    }

    .info-setup {
        width: 50%;
        gap: 5px;
    }

    .card-title {
        font-size: 12px;
    }

    .card-content {
        font-size: 11px;
    }

    .defaultHub {
        height: 50vh;
        width: 60%;
        margin: 0px;
        padding: 0px;
        /* gap: 20px; */
        /* margin-bottom: 70px; */
        justify-content: right;
        /* flex-direction: column-reverse; */
    }

    .defaultPic {
        height: 55vw;
        width: 55vw;
        margin-bottom: 10px;
    }

    .defaultPic img {
        transform: scale(2.5) translateY(25px) translateX(7px);
    }

    .defaultPic img:hover {
        transform: scale(2) translateY(25px) translateX(7px);
    }


    .defaultInitialIntrodution {
        z-index: 5;
        font-size: 30px !important;
    }

    .defaultIntrodution {
        font-size: 18px !important;
    }

    .introdutionText {
        font-size: 14px;
        margin: 0px;
        /* margin-left: 10px; */
        padding: 10px;
        width: 80%;
        /* border-bottom: 3px solid #094c5a; */
    }

    .introdutionText div {
        font-size: 16px;
    }

    .swiper-image {
        border: none;
    }

    .scroll-container {
        height: 100vh;
        background-image: url('./assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .projects {
        position: relative;
        /* Ensure relative positioning for pseudo-element */
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        padding-bottom: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        overflow: hidden;
        /* Ensures the pseudo-element doesn't overflow */
    }

    .projects::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 105%;
        background-image: url('./assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        transform: scaleY(-1) scaleX(-1);
        z-index: -1;
    }


}